

table, th, td {
border:1px solid black;
}
th, td {
background-color: #96D4D4;
}
body {
background-color: lightblue;
}

h1 {
color: white;
text-align: center;
}

p {
font-family: verdana;
font-size: 20px;
}
body {
font-family: park-lane,serif;
font-weight: 700;
font-style: normal;
}
img {
    max-width: 100%;
    display: block;
}
canvas {
    max-width: 100%;
    display: block;
}
.center {
    margin: 0 auto;
  }
  
/*flexbox*/

* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    flex-direction: column;
  }
  
  .flex-item-top {
    background-color: green;
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-bot {
    background-color: yellow;
    padding: 10px;
    flex: 50%;
  }
  

  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }

  .flex-container1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
  }
  
